[submodule "tesseract-ocr/tessdata_fast"]
	path = tesseract-ocr/tessdata_fast
	url = https://github.com/tesseract-ocr/tessdata_fast
  shallow = true
[submodule "tesseract-ocr/tessdata_best"]
	path = tesseract-ocr/tessdata_best
	url = https://github.com/tesseract-ocr/tessdata_best
  shallow = true
[submodule "tesseract-ocr/tessdata"]
	path = tesseract-ocr/tessdata
	url = https://github.com/tesseract-ocr/tessdata
  shallow = true
